h1 {
}

body {
  cursor: url("../cursors/ribbonarrow_pink.png"), auto;
}

a {
  cursor: url("../cursors/ribbonhand_pink.png"), pointer;
}

.site-nav li:nth-child(4) a {
  color: hsl(342, 100%, 97%);
}

#page-container {
  background-image: linear-gradient(#ffd1df, #ffd1df), url(/images/stripes.webp);
  background-blend-mode: hue;
}

.content {
  filter: hue-rotate(140deg);
}

img.content {
  filter: hue-rotate(-140deg);
}

/* NAVIGATION */

table.clouds {
  filter: hue-rotate(140deg);
}

.norecolor {
  filter: hue-rotate(-140deg);
}
