h1 {
}

body, .footer-afterimage {
  cursor: url("../cursors/ribbonarrow_purple.png"), auto;
}

a {
  cursor: url("../cursors/ribbonhand_purple.png"), pointer;
}

.main-menu, li:nth-child(3) a {
  color: hsl(250, 100%, 97%);
}

#page-container {
  background-image: linear-gradient(#e0daff, #e0daff), url(/images/stripes.png);
  background-blend-mode: hue;
}

.content {
  filter: hue-rotate(50deg);
}

img.content {
  filter: hue-rotate(-50deg);
}

/* NAVIGATION */

table.clouds {
  filter: hue-rotate(50deg);
}
