/* FONTS */

@font-face {
  font-family: "HelvetiHand";
  src: url("../fonts/HelvetiHand.woff") format('woff');
  font-weight: normal;
}

@font-face {
  font-family: "Dudu Calligraphy q";
  src: url("../fonts/Dudu_Calligraphy_q.woff") format('woff');
  font-weight: normal;
}

@font-face {
  font-family: "aqua_pfont";
  src: url("../fonts/aqua_pfont.woff") format('woff');
  font-weight: normal;
}

/* LAYOUT */

body {
  position: relative;
  color: #333;
  font-size: 125%;
  line-height: 1.5;
  
  padding: 0;
  margin: 0;

  cursor: url("../cursors/ribbonarrow_blue.png"), auto;
}

.content {
  font-family: 'Dudu Calligraphy q', 'aqua_pfont';
  font-size: 1.1em;
  margin-bottom: 2rem;
  background-color: white;
  background-image: url(/images/ribbon.png);
  background-repeat: no-repeat;
  background-position-x: -0.1rem;
  background-position-y: -0.1rem;
  max-width: 45rem;
  border: 0.1rem;
  margin: 2rem auto 2rem auto;
  align-items: center;
  padding: 0.5rem 1.6rem 0.5rem 1.6rem;
  border-style:solid;
  border-radius: 0.5rem;
  border-color: transparent;
  outline-offset: 10rem;
  border-color: rgb(73, 89, 116);
  box-shadow: 0em 0em 0.8em rgb(255, 255, 255);
}

.content h1 {
  background: repeating-linear-gradient(#ffffff00, #ffffff00 62px, white 63px, #e2e2e2 64px, #e2e2e2 66px);
  background-position-y: -16px;

  font-family: 'HelvetiHand', 'aqua_pfont';
  margin-top:0.5rem;
  margin-bottom:0.5rem;
  color: rgb(88, 197, 255);
}

/* Styling specific to a sheet of lined paper */
p {
  font-family: 'Dudu Calligraphy q', 'aqua_pfont';
  background: repeating-linear-gradient(#ffffff00, #ffffff00 30px, white 31px, #e2e2e2 32px, #e2e2e2 33px);
  background-position-y: -40px;

  padding: 0;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;

}

.center {
  text-align: center;
}

.right {
  text-align: right;
}

.grechetta {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
}


p.footer {
  background: none;
}

.header {

}

/* NAVIGATION */

@font-face {
  font-family: TwinkleStar-Regular;
  src: url(/fonts/TwinkleStar-Regular.woff);
}

.site-nav {
  display: flex;
  background-color: white;
  width: 100%;
  font-size: 2.5rem;
  font-family: TwinkleStar-Regular;
  justify-content: center;
  text-align: center;
  font-weight: bold;
}

.logo, a:link a:visited {
  color: white;
  text-shadow: 0px 0px 2px #afede8, 0px 0px 5px #afede8, 0px 0px 2px #afede8, 0px 0px 2px #afede8, 0px 0px 4px hsl(175, 63%, 50%);
}

.site-nav a:active {
  color: hsl(175, 63%, 96%);
}

.nav-element, li:nth-child(1) a:link a:visited {
  color: white;
  text-shadow: 0px 0px 2px #bae7ff, 0px 0px 2px #bae7ff, 0px 0px 2px #bae7ff, 0px 0px 2px #bae7ff, 0px 0px 4px hsl(201, 100%, 50%);
}

.main-menu li:nth-child(1) a:active {
  color: hsl(201, 100%, 96%);
}

.main-menu li:nth-child(2) a:link {
  text-shadow: 0px 0px 2px #e0daff, 0px 0px 2px #e0daff, 0px 0px 2px #e0daff, 0px 0px 2px #e0daff, 0px 0px 4px hsl(250, 100%, 60%);
}

.main-menu li:nth-child(2) a:active {
  color: hsl(250, 100%, 97%);
}

.main-menu li:nth-child(3) a:link {
  text-shadow: 0px 0px 2px #ffd1df, 0px 0px 2px #ffd1df, 0px 0px 2px #ffd1df, 0px 0px 2px #ffd1df, 0px 0px 4px hsl(342, 100%, 60%);
}

.site-nav li:nth-child(3) a:active {
  color: hsl(342, 100%, 97%);
}

a, a:active {
  color: #58c5ff;
}

.content a:active {
  text-shadow: 0px 0px 3px #58c5ff;
}

table.clouds {
  width:100%;
  height:63px;
  border: 0;
  border-spacing: 0;
  background-image: url(/images/curtain.png);
}

table.reverse {
  -webkit-transform: scaleY(-1);
  transform: scaleY(-1);
}

.site-nav::before {
  /*content: url(/images/logo.png);
  content: "Placeholder";*/
}

.site-nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
}

.site-nav .logo {
  font-weight: bold;
  padding-left: 0;
}

.main-menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li:before {
  padding-right: 5px;
  color: green;
}

li:nth-child(1):before:active {
    color: green;
}

li:nth-child(2):before:active {
    color: red;
}

li:nth-child(3):before {
    color: blue;
}  


/* Barra mobile */
@media screen and (max-width: 48rem) {
  .site-nav, .main-menu {
    /*flex-direction: column; */
  }

  .site-nav a {
    padding: 0.5rem;
    padding-left: 0.2em;
    font-size: 2rem;
  }

  .content {
    margin: 0.5rem;
  }
}

@media screen and (max-width: 566px) {
  .site-nav, .main-menu {
    flex-direction: column;
  }

  .site-nav a {
    padding: 0.5rem;
    padding-left: 0.2em;
    font-size: 2rem;
  }

  .content {
    margin: 0.5rem;
  }
}

#footer {   
  position:absolute;
  text-align: center;
  bottom: 0;
  width: 100%;
  height: 9rem;  /* Footer height */
}

#page-container {
  background-image: url(/images/stripes.png);
  position: relative;
  min-height: 97.77vh;
}

#content-wrap {
  padding-bottom: 9rem;    /* Footer height */
}

.footer-afterimage {
  background-color: white;
  /* height: -webkit-fill-available; */
}

.footer-afterimage::after {
  background-color: white;
}

p.footer {
  font-family: 'HelvetiHand';
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

/* LISTS */

.post-snippet {
  margin-bottom: 1rem;
}

.post-snippet h3 {
  margin-bottom: 0.25rem;
}

@media only screen and (max-width:501px){
  img {
    vertical-align:text-top;
  }
  img.desktop-only-right {
    text-align: center;
    display: block;
    margin-left:auto;
    margin-right: auto;
  }
}

@media only screen and (min-width:501px){
  .desktop-only-right {
    float: right;
  }
}