h1 {
}

body {
  cursor: url("../cursors/ribbonarrow_teal.png"), auto;
}

a {
  cursor: url("../cursors/ribbonhand_teal.png"), pointer;
}

.logo, a:link a:visited {
  color: hsl(175, 63%, 96%);
}

#page-container {
  background-image: linear-gradient(#afede8, #afede8), url(/images/stripes.webp);
  background-blend-mode: hue;
}

.color {
  filter: hue-rotate(330deg);
}

img.color{
  filter: hue-rotate(-330deg);
}

.norecolor {
  filter: hue-rotate(-330deg);
}

/* NAVIGATION */

table.clouds {
  filter: hue-rotate(330deg);
}
