		{{ with .OutputFormats.Get "rss" -}}
			{{ printf `<link rel="%s" type="%s" href="%s" title="%s" />` .Rel .MediaType.Type .Permalink $.Site.Title | safeHTML }}
		{{ end -}}

</head>

<body>
<div id="page-container">
	<div id="content-wrap">

	{{ partial "nav.html" . }}
	<table class="clouds">
		<tr><td width="100%" background="/images/curtain.png"></td></tr>
	</table>

	<main class="content">
