<header class="site-header">
  <nav class="site-nav">
    <ul class="main-menu">  
      <li>
        <!--<a class="logo" href="{{ .Site.BaseURL }}">-->
        <a class="logo" href="/">
        <!--<h1 class="nav-title">{{ .Site.Title }}</h1>-->
        <h1 class="nav-title">Home</h1>
        </a>
      </li>
      {{ range.Site.Menus.main }}
      <li>
        <h1 class="nav-title"><a class="nav-element {{ .Identifier }}" href="{{ .URL }}">{{ .Name }}</a></h1>
      </li>
      {{ end }}
    </ul>
  </nav>
</header>