<header class="site-header">
  <nav class="site-nav">
    <a class="logo" href="{{ .Site.BaseURL }}">
      {{ .Site.Title }}
    </a>
    <ul class="main-menu">
      {{ range.Site.Menus.main }}
      <li>
        <a class="nav-element {{ .Identifier }}" href="{{ .URL }}">{{ .Name }}</a>
      </li>
      {{ end }}
    </ul>
  </nav>
</header>
